.header {
    position: absolute;
    height: 25px;
    width: 100vw;
    padding-top: 50px;
    display: flex;
    align-items: center;
    font-size: 0.85em;
    font-weight: bold;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header_content {
    display: flex;
    flex: 3;
    justify-content: center;
}

.header_action {
    padding-right: 70px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.icon {
    padding: 0 17px;
}

.activated {
    filter: invert(88%) sepia(13%) saturate(4916%) hue-rotate(340deg) brightness(88%) contrast(94%);
}

.link {
    color: black;
    text-decoration: none;
}

.text {
    padding-left: 35px;
    padding-right: 35px;
    font-family: TradeGothic;
    font-weight: bold;
    font-size: 22px;
}