
// TradeGothic

@font-face {
    font-family: TradeGothic;
    src :"fonts/TradeGothic/TradeGothicbold.ttf";
    font-weight : bold;
}

@font-face {
    font-family: TradeGothic;
    src :"fonts/TradeGothic/TradeGothiclight.ttf";
    font-weight : lighter;
}

@font-face {
    font-family: TradeGothic;
    src :"fonts/TradeGothic/TradeGothic.ttf";
}


// HELVETICA

@font-face {
    font-family: Helvetica;
    src : "fonts/helveticaneue/HelveticaNeue.ttf";
    font-weight: normal;
}

@font-face {
    font-family: Helvetica;
    src : "fonts/helveticaneue/Helvetica\ Neu\ Bold.ttf";
    font-weight: bold;
}

@font-face {
    font-family: Helvetica;
    src : "fonts/helveticaneue/HelveticaNeue\ Light.ttf";
    font-weight: lighter;
}

@font-face {
    font-family: Helvetica;
    src : "fonts/helveticaneue/HelveticaNeue\ Medium.ttf";
    font-weight: medium;
}

@font-face {
    font-family: Helvetica;
    src : "fonts/helveticaneue/HelveticaNeue\ Thin.ttf"; 
    font-weight: thin;

}